# Node / pnpm / npm
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# TypeScript build output
dist/
packages/js/index.*.node
packages/js/npm/*/*.node
packages/napi/index.*.node
packages/napi/index.d.ts

# Rust build output
target/
Cargo.lock

# Misc
.DS_Store
*.log
